<form  action="/hogwarts" method="post">
  <label for="first-name-field">First name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field">

  <label for="last-name-field">Last name:</label>
  <input
  type="text"
  name="last_name"
  id="last-name-field">

  <label for="house-selection">House:</label>
  <select name="house" id="house-selection">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Slytherin">Slytherin</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Ravenclaw">Ravenclaw</option>
  </select>

  <label for="age-field">Age:</label>
  <input
  type="number"
  name="age"
  id="age-field">

  <input type="submit"  value="New Student">

</form>
